body {
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../imageFile/background.jpg');
    width: 100vw;
    height: 100vh;
}

.sungsim_map {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
}

.Phrase_Part {
    width: 70vw;
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-family: 'preten-medium';
    display: flex;
    align-items: center;
    padding: 2%;
    color: #694409; /* 텍스트 색상을 하얀색으로 설정 */
}

.Black_Phrase {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    font-family: 'preten-medium';
    text-align: center;
    color: white;
}



.breadList {
    display: flex;
    width: 100%;
    height: 30%;
    border-bottom: 0.6vh rgba(0,0,0,0.2) solid;
}

.t_breadName {
    font-family: 'preten-black';
    font-size: 2.0vw;
    padding-top: 3.5%;
    padding-left: 5%;
}

.t_breadInfor {
    font-family: 'preten-medium';
    font-size: 1.5vw;
    color: rgb(35, 35, 35);
    padding-top: 3.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.t_breadPrice {
    font-family: 'preten-semi';
    font-size: 1.6vw;
    color: rgba(0,0,0,0.9);
    padding-top: 3.5%;
    padding-left: 5%;
    padding-bottom: 3.5%;
}

@font-face {
    font-family: 'preten-medium';
    font-style: normal;
    src: url('../FontFile/Pretendard-1.3.9/public/static/Pretendard-Medium.otf');
}

@font-face {
    font-family: 'preten-black';
    font-style: normal;
    src: url('../FontFile/Pretendard-1.3.9/public/static/Pretendard-Bold.otf');
}

@font-face {
    font-family: 'preten-semi';
    font-style: 'normal';
    src: url('../FontFile/Pretendard-1.3.9/public/static/Pretendard-SemiBold.otf');
}