.more_Box {
    padding: 5vw;
    margin-top: -10vw;
}

.more_information {
    max-width: 100%;
    color: #BD8A00;
    padding: 1.5vw;
    font-size: 15pt;
    font-family: 'OTFPro2';
    padding-left: 2.2vw;
    margin-bottom: 5vw;
}

.more_information_detail {
    max-width: 100%;
    color: black;
    margin-top: -1px;
    font-size: 11pt;
    font-family: 'OTFPro2';
    line-height: 1.5;
    margin-bottom: 5vw;
    font-weight: normal;
}
.end_lock {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;

    /* 새로 추가 */
    display: flex;
    flex-direction: column;

}

.end_image {
    background-color: black;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end_image img {
    width: 20%;
    height: 60%;
}

.end_phrase {
    font-family: 'OTFPro2';
    border: 0.2vh solid black;
    border-radius: 40px;
    font-size: 15pt;
    padding: 2vw;
    margin-bottom: 3.5vh;
    margin-top: -2vh;
    width: 86vw;
}